body {
    align-content: center;
}

#calc {
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-top: solid grey 3px;
}

#mainBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#resultado {
    height: 5vh;
    text-align: end;
}